<% content_for :page_title, "Edit #{@enterprise_group.name}" %>

<div class="bg-white shadow sm:rounded-lg">
  <div class="px-4 py-5 sm:p-6">
    <h3 class="text-lg leading-6 font-medium text-gray-900 mb-4">Edit Enterprise Group</h3>
    
    <%= render 'form', enterprise_group: @enterprise_group %>
  </div>
</div>